*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../image/sign\ in.png);
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: "Dual";
    src: url(../font/Dual-300.otf);
}

h1{
    margin-top: 50px;
    font-family: "Dual";
    text-align: right;
    margin-right: 290px;
    color: rgb(10, 110, 110);
}

.pag1{
    font-family: "Dual";
    margin-top: 20px;
    text-align: center;
    margin-left: 220px;
    color: rgb(190, 158, 158);
    text-decoration: none;
}

p a{
    text-decoration: none;
}

p a:hover{
    text-decoration: underline rgb(184, 172, 172);
}

.pag3{
    font-family: "Dual";
    margin-left: 985px;
    color: rgb(10, 110, 110);
    font-size: 15px;
    font-style: oblique;
}

.pag4{
    font-family: "Dual";
    margin-left: 930px;
    margin-top: 80px;
    color: rgb(10, 110, 110);
    font-size: 15px;
}

input[type='text']{
    background-image: url(../image/person.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 10%;
    outline: none;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(10, 110, 110);
    margin-top: 80px;
    font-family: "Dual";
    padding-left: 45px;
}

input[type='text']::-webkit-input-placeholder{
    color: rgb(210, 216, 219);
    padding-left: 3px;
}

input[type='text']:focus{
    border: 2px solid rgb(10, 58, 58);
}

input[type='password']{
    background-image: url(../image/pass.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 10%;
    outline: none;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(10, 110, 110);
    margin-top: 30px;
    padding-left: 45px;
    font-family: "Dual";
}

input[type='password']::-webkit-input-placeholder{
    color: rgb(210, 216, 219);
    padding-left: 3px;
}

input[type='password']:focus{
    border: 2px solid rgb(10, 58, 58);
}

.img1{
    margin-left: 968px;
    width: 6%;
    height: 6%;
}

.tabel-form form table {
    float: right;
    margin-right: 200px;
}

.tabel-form form table tr td p{
    font-family: "Dual";
    padding-top: 10px;
    font-size: 15px;
    color: rgb(119, 117, 117);
}

.tabel-form form table tr td button{
    margin-top: 50px;
    margin-bottom: 40px;
}

.tab1{
    margin-top: 15px;
}
button{
    float: right;
    margin-right: 120px;
    background-color: rgb(10, 110, 110);
    border: none;
    padding: 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    color: white;
    font-family: "Dual";
    outline: none;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}